/*Barra de Navegación*/

.navbar1{
    padding: 2rem;
    background-color:  #173c4c;
    border: none;
}
.navbar-collapse{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed; /* Hace que la barra de navegación sea fija */
    width: 100%; /* Ocupa todo el ancho de la pantalla */
    top: 0; /* Se fija en la parte superior */
    z-index: 1000;
}