:root{  
    --primary1: #010119;
    --primary2: #031E51;
    --primary3: #04346F;
    --primary4: #094688;
    --primary5: #2062A4;
    --white: #f6f6f6;
    --black: #000000;
}
/*Barra de Navegación*/

.navbar1{
    padding: 2rem;
    background-color:  #094688;
    border: none;
}
.navbar-collapse{
    align-items: center;
    justify-content: space-between;
}
.navbar a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    animation: fadeInDown 0.5s ease;
    background-color: #094688;
}
@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Estilos Generales */
body {
    margin: 0;
    padding: 0;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1{
    font-size: 2.5rem;
    font-family: 'Rubik Dirt', cursive;
    color: #f6f6f6;
}
.hero-principal h2{
    font-size: 1.5rem;
    color: #2062A4;
}
.seccion-oscura{
    color: #f6f6f6;
    background-color: #000009;
}
.seccion-clara{
    color: #031E51;
    background-color: #f6f6f6;
}
.seccion-titulo{
    font-size: 2rem;
    padding: 15px 0;
    font-family: 'Rubik Dirt', cursive;
}
.seccion-texto{
    font-size: 1.2rem;
}
.seccion-decripcion{
    font-size: 1.2rem;
    color: #2062A4;
}
.texto-oscuro{
    color: #094688;
}
.texto-claro{
    color: #f6f6f6;
}

/* hero Principal*/
.hero{
    background-color: #000009;
    min-height: 450px;
    text-align: center;
}
.hero-principal{
    padding: 1rem;
    margin-top: 70px;
}
.hero-imagen-yo{
    width: 200px;
    height: 200px;
    margin: 20px;
}
.hero-inferior-imagen{
    height: 30%;
    width: 30%;
    margin: auto;
    padding: 40px;
    border-radius: 60px;
}

/* Sobre mi */
.sobremi{
    height: 500px;
    padding: 350px;
}
.sobremi .contenedor{
    max-width: 600px;
    text-align: center;
}
.hero-imagen-yo {
    width: 100%; /* La imagen ocupará el 100% del ancho de su contenedor */
    max-width: 200px; /* Establecer un ancho máximo para evitar que la imagen sea demasiado grande en dispositivos muy grandes */
    height: auto; /* La altura se ajustará automáticamente para mantener la proporción */
    margin: 20px 0; /* Ajusta el margen según sea necesario */
}
.sobremi button{
    color:#f6f6f6;
    font-weight: bold;
    background-color: transparent;
    border: 2px solid #f6f6f6;
    padding: 1.25em 2em;
    margin: 10px;
    border-radius: 100px;
    transition: all 0.2s ease-in-out;
}
.sobremi button:hover{
    background-color: #f6f6f6;
    color:#2062A4;
}
.sobremi button i{
    color: #f6f6f6;
    font-size: 1.3rem;
    transition: all 0.2s ease-in-out;
}
.sobremi button:hover i{
    color: #2062A4;
}

/* Educacion/Experiencia */
.experiencia{
    padding: 40px 40px 60px 40px;
}
.experiencia .columna{
    padding: 20px;
    border: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: all 0.2s ease-in;
}
.experiencia .columna:hover{
    color: #f6f6f6;
    background-color: #010119;
}
.experiencia i{
    font-size: 2.5rem;
    color: #f6f6f6;
    background-color: #2062a4;
    padding: 8px 19px;
    border-radius: 50%;
}
.experiencia-titulo{
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
}
.badges-contenedor{
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}
.badges{
    margin: 5px;
}
/* Proyectos */
.proyectos{
    padding: 40px;
}
.proyectos img{
height: 100%;
width: 100%;
padding: 10px;
border-radius: 10px;
display: block;
transition: all 0.2s ease;
}
.proyectos-contenedor{
    padding-top: 60px;
    margin-bottom: 40px;
}
.overlay{
    transition: all 0.2s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.overlay p{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0;
}
.proyecto{
    position: relative;
}
.proyecto:hover img{
    opacity: 0.2;
}
.proyecto:hover .overlay{
    opacity: 1;
}
.iconos-contenedor{
    display: flex;
}
.overlay i{
    color: #f6f6f6;
    font-size: 60px;
    margin: 10px;
}
.proyectos button{
    color:#f6f6f6;
    font-weight: bold;
    background-color: transparent;
    border: 2px solid #f6f6f6;
    padding: 1.25em 2em;
    margin: 10px;
    border-radius: 100px;
    transition: all 0.2s ease-in-out;
}
.proyectos button:hover{
    background-color: #f6f6f6;
    color:#2062A4;
}
.proyectos button i{
    color: #f6f6f6;
    font-size: 1.3rem;
    transition: all 0.2s ease-in-out;
}
.proyectos button:hover i{
    color: #2062A4;
}

/* Skill */
.skills{
    padding: 40px;
    text-align: center;
}
.skills img{
    height: auto;
    width: 50%;
    padding: 1px;
}
.skills-contenedor{
    padding-top: 60px;
    margin-bottom: 40px;
}
.badges-skill{
    margin-top: 10px;
    display: block;

}


/* contacto */
.contacto .container{
    max-width: 1100px;
    min-width: 200px;
    padding: 20px;
}
.contacto .rectangulo{ 
    margin-top: -5rem;
    background-color: #094688;
    border-radius: 10px;
    box-shadow: 0px 1px 4px 1px rgba(52, 51, 51, 0.788); /* sombra del rectangulo */
}
.contacto .row{
    width: 100%;
    display: flex;
    align-items: center;
}
.contacto .descripcion{
    color: #f6f6f6;
    font-size: 1.2rem;
}
.contacto button{
    color:#f6f6f6;
    font-weight: bold;
    background-color: transparent;
    border: 2px solid #f6f6f6;
    padding: 1.25em 2em;
    margin: 10px;
    border-radius: 100px;
    transition: all 0.2s ease-in-out;
}
.contacto button:hover{
    background-color: #f6f6f6;
    color:#04346f;
}
.contacto button i{
    color: #f6f6f6;
    font-size: 1.3rem;
    transition: all 0.2s ease-in-out;
}
.contacto button:hover i{
    color: #04346f;
}

/* footer */
footer{
    min-height: 50px;
}
.footer-texto{
    font-size: 1.5rem;
    padding: 20px;
    margin-bottom: 30px;
    font-family: 'Quicksand', sans-serif;
}
.iconos-redes-sociales a{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 10px;
    border: 2px solid #f6f6f6;
    border-radius: 50%;
    transition: all 0.2s ease-in;
}
.iconos-redes-sociales i{
    color: #f6f6f6;
    font-size: 1.5rem;
    transition: all 0.2s ease-in;
}
.iconos-redes-sociales a:hover{
    background-color: #f6f6f6;
    border: 2px solid #04346f;
}
.iconos-redes-sociales a:hover i{
    color: #2062a4;
}
.derechos-de-autor{
    font-size: 15px;
    color: #aeaeae;
    padding: 20px;
}

/*adaptable (Responsivo logo)*/
@media screen and (max-width: 400px) {
    .overlay p {
        font-size: 18px;
    }
    .overlay i{
        font-size: 40px;
    }
}
@media screen and (max-width: 767px) {
    .navbar a {
        margin: 0;
    }
    .sobremi {
    padding: 80px 20px;
    height: auto;
    }
    .sobremi button {
    display: block;
    margin: 10px auto;
    }
    .experiencia .columna {
    margin-bottom: 20px;
    }
    .proyectos img,
    .skills img {
    width: 100%;
    }
}
    .navbar-collapse{
        display: none;
    }
    .sobremi {
        padding: 80px 20px;
        height: auto;
    }
    .sobremi button {
        display: block;
        margin: 10px auto; 
    }
    
@media screen and(min-width:700px) {
    .hero-inferior-imagen{
        max-width: 600px;

    }
}
